.container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-width: 960px;
        margin: 60px auto;
}

.content {
        padding-right: 30px;
}

.sidebar {
        padding-left: 30px;
}

.sidebar form {
        padding: 20px;
        background: #dadcdd;
        border-radius: 2px;
}

.sidebar input, .sidebar select {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 8px;
        box-sizing: border-box;
        border: 0;
        border-radius: 4px;
        color: rgb(172, 171, 171);
        font-size: 1em;
}

.sidebar label {
        margin: 0 auto 20px;
        display: block;
        color: #fff;
}

.sidebar button {
        color: #2798e4;
        border: 2px solid #2798e4;
        padding: 6px 12px;
        background-color: transparent;
        font-size: 1em;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        width: 100%;
}

.sidebar h4 {
        color: #2798e4;
        margin-bottom: 20px;
}

.sidebar aside {
        margin-top: 40px;
        color: rgb(200, 199, 199);
}

.sidebar aside li {
        margin: 10px;
}

/* transactions */
.items li {
        margin: 10px auto;
        border: 1px solid #f2f2f2;
        box-shadow: 3px 3px 5px rgba(50,50,50,0.1);
        padding: 7px;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        border-left: 4px solid #2798e4;
}

.items .name {
        color: #777;
        font-size: 1em;
}

.items .amount {
        margin-left: auto;
        margin-right: 40px;
        color: #777;
        font-size: 0.8em;
}

.items button {
        position: absolute;
        top: 0;
        right:0;
        background: #acb5ba;
        color: whitesmoke;
        border: none;
        padding: 12px 8px;
        text-align: center;
        line-height: 0;
        font-size: 0.9em;
        cursor: pointer;
}

.list {
        list-style: none;
}

.list li:before {
        content: "👉";
        margin: 0 16px 0 0;
}

.recommended {
        margin-top: 100px;
        margin-left: 100px;
}

.rucksack {
        margin-top: 100px;
        margin-right: 50px;
}